.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.books .book {
    box-shadow: 0 2px 4px 0 rgba(38, 59, 56, 0.10), 0 0 0 1.5px rgba(38, 50, 56, 0.10);
    margin: .25rem;
    display: flex;
    height: 18rem;
    width: 20rem;
    flex-direction: column;
    justify-content: space-between;
    border-radius:  0.375rem;
    border-color: rgb(221 221 221);
    background-color: white;
    padding: 1.25rem;
}